<script src="js/mainmenu.js"></script>   

<div class="page-container">
    <div class="menu-container">
        <header>
            <div class="title">
                <div class="course-name"></div>
            </div>
        </header>
        <div class="desktop-menu">
            <div class="units-container">
                <div class="title"></div>
                <nav class="container units"></nav>
            </div>
            <div class="topics-container">
                <div class="title"></div>
                <nav class="container topics"></nav>
            </div>
        </div>
        <div class="mobile-menu">
            <nav class="units"></nav>
        </div>
    </div>
    <img class="logo" src="img/logo.png" title="Sh!ft - Disruptive Elearning"/>
</div>