<div id="screen-header">
    <div class="screen-row">
        <div id="logo-container">
            <div><img align="left" src="img/logo.png" alt="logo"></div>
            <div><p id="course-name"></p></div>
        </div>
        <div id="navigation">
            <img tabindex="4" class="button-go-back toolbar-button" src="img/toolbar/leftarrow.png"/>
            <img tabindex="5" class="button-go-menu toolbar-button" src="img/toolbar/home.png"/>
            <img tabindex="6" class="button-go-forward toolbar-button" src="img/toolbar/rightarrow.png"/>
        </div>					
    </div>
    <div class="toolbar">
        <div class="screen-row">
            <div class="toolbar-buttons">
                <img tabindex="1" class="button-glossary toolbar-button" src="img/toolbar/glossary.png"/>
                <img tabindex="2" class="button-print toolbar-button" src="img/toolbar/print.png"/>
                <div class="toggle-audio-container">
                    <img tabindex="3" class="button-toggle-audio toolbar-button" src="img/toolbar/audioplay.png"/> 
                    <div class="audio-progress-bar">
                        <div class="audio-progress"></div>
                    </div>
                </div>
            </div>
            <div id="pointer"></div>
        </div>
    </div>
</div>