body {display:block;width: 96%;margin: 0;padding:0 2%; background: #686868;font-family: Arial, sans-serif;font-size: 14px;color:#FFF;}
.page-container {float: left;width: 100%;margin:0;padding:0 0 98px 0;position: relative;}
.menu-container {float:left;width: 100%;margin:5px 0 5px 0;}

header {display: block;width: 100%;padding-bottom: 5px;margin:0;}
header .title {width: 100%;padding:10px 0;}
header .title .course-name {font-size: 22px;font-weight: bold;padding:0 10px;}

.desktop-menu {display: block;width: 100%;}
.desktop-menu .container {overflow:auto; }
.desktop-menu .title {display: block;width: 100%;font-size: 22px;padding:10px 0;text-align: left;border-bottom: 1px solid #FFF;text-indent: 10px;}

.desktop-menu .units-container {float:left;width: 49.6%;margin:5px 0 0 0;}
.desktop-menu .units-container .units {width: 100%;padding:10px 0;}
.desktop-menu .units-container .units a {float: left;clear: both;position:relative;margin:0 0 5px 25px;color:#FFF;text-decoration: none;}
.desktop-menu .units-container .units a.selected {color: #FFF;font-weight: bold;}

.desktop-menu .topics-container {float:right;width: 49.6%;margin:5px 0 0 0;}
.desktop-menu .topics-container .topics {width: 100%;padding:10px 0;}
/*.desktop-menu .topics-container .topics .topic {float: left;width: 100%;}*/
.desktop-menu .topics-container .topics .topic a {float: left;clear: both;position:relative;margin:0 0 5px 25px;color:#FFF;text-decoration: none;}

.mobile-menu {float:left;width: 100%;margin:5px 0 0 0;display: none;overflow: auto;}
.mobile-menu .units {width: 100%;padding:10px 0;}
.mobile-menu .units a {float: left;clear: both;position:relative;margin:0 0 5px 25px;color:#FFF;text-decoration: none;}
.mobile-menu .units a.selected {color: #FFF;font-weight: bold;}
.mobile-menu .units .topic {float: left;clear: both;}
.mobile-menu .units .topic a {margin-left:40px;}

a:hover {text-decoration: underline !important;}

span.status {position:absolute;left:-15px;top:3px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
            border:1px solid #333;height:8px;width:8px;background: #FFF;}
span.status.status-0 span {display:none;}
span.status.status-1 span {display:block;width:4px;height:8px;background:red;border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;
                           -webkit-border-radius:4px 0 0 4px;}
span.status.status-2 span {display:block;width:8px;height:8px;background:red;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
img.logo{ margin:10px 5px 20px 20px;position: absolute;bottom: 20px;left: 20px;}

@media only screen and (max-width:480px) {
    .desktop-menu {display:none;}
    .mobile-menu {display:block;}
    .course-name {padding-top:100px !important;background: url('../img/logo.png') 10px 10px no-repeat;}
    .page-container {padding:0;}
    img.logo {display: none;}
}

@media only screen and (max-device-width:480px) {
    body {font-size: 21px;}
    header .title .course-name {font-size: 33px;}
    .desktop-menu {display:none;}
    .mobile-menu {display:block;}
    .course-name {padding-top:85px !important;background: url('../img/logo.png') 10px 10px no-repeat;}
    .page-container {padding:0;}
    img.logo {display: none;}    
    .mobile-menu .units a {margin-left:35px;}
    .mobile-menu .units .topic a {margin-left:60px;}
    span.status {position:absolute;left:-25px;top:6px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
                border:1px solid #333;height:12px;width:12px;background: #FFF;}
    span.status.status-1 span {display:block;width:6px;height:12px;background:red;border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;
                               -webkit-border-radius:6px 0 0 6px;}
    span.status.status-2 span {display:block;width:12px;height:12px;background:red;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
}