.toolbar {float:left;clear: both;width:100%;background-color: #ddd;margin: 0;padding: 0;overflow: hidden;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#494949', EndColorStr='#010101');
            background-image:-moz-linear-gradient(top, #494949 0%, #010101 100%);
            background-image:linear-gradient(top, #494949 0%, #010101 100%);
            background-image:-o-linear-gradient(top, #494949 0%, #010101 100%);
            background-image:-webkit-linear-gradient(top, #494949 0%, #010101 100%);
            background-image:-ms-linear-gradient(top, #494949 0%, #010101 100%);
            background-image:-webkit-gradient(linear, left top, left bottom, from(#494949), to(#010101));}

.toolbar .toolbar-buttons {float: left;clear:both; width: 140px;}
.toolbar .toolbar-buttons .toolbar-button {margin: 10px 6px;cursor: pointer;}
.toolbar .toolbar-buttons .button-glossary {float: left;width:30px;height:30px;}
.toolbar .toolbar-buttons .button-notes {float: left;width:30px;height:30px;display: none;}
.toolbar .toolbar-buttons .button-print {float: left;width:30px;height:30px;}
.toolbar .toolbar-buttons .button-toggle-audio {float: left;width:30px;height:30px;margin:10px 10px 3px 11px;}
.toolbar .toolbar-buttons .toggle-audio-container {float: left;margin:0;padding:0;width: 51px;} 
.toolbar .toolbar-buttons .audio-progress-bar {float: left;width: 43px;border: 1px solid #3DA243;height: 4px;margin: 0 0 3px 3px;
                                                border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;overflow: hidden;}
.toolbar .toolbar-buttons .audio-progress-bar .audio-progress {float: left;width: 0px;height: 4px;background: #CDCDCD;overflow: hidden;
                                                                border-radius: 1px;-moz-border-radius: 1px;-webkit-border-radius: 1px;}

#navigation {width:122px;float:right;text-align: right;}
#navigation .button-go-back {float: left;width:30px;height:30px;margin: 10px 6px;cursor: pointer;}
#navigation .button-go-menu {float: left;width:30px;height:30px;margin:10px 0;cursor: pointer;}
#navigation .button-go-forward {float: left;width:30px;height:30px;margin: 10px 6px;cursor: pointer;}
#navigation .button-go-forward.is-test {margin: 10px 6px 10px 78px;} /* replace 78px with 40px to center the arrow */

.screen-row {display: block;clear:both;margin: 0 auto;max-width: 980px;}

#screen-header {float:left;width: 100%;background-color: #111;padding-top:5px;display:none;}
#screen-header #logo-container {float: left;}
#screen-header #course-name {font-size: 2em;color:#FFF;}
#screen-header #pointer {width:80px !important;color:#fff;float:right;margin: 10px 25px 0 0 !important;text-align:center;font-size:18px;}

@media screen and (max-width: 1024px) {
   .screen-row {margin: 0 20px;}
}
